/*******************************************
    BASE STYLES
*******************************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  color: var(--color-text);

  --headerOne: calc(3.5rem + 5vw);
  --headerTwo: calc(3rem + 2.5vw);
  --headerThree: calc(2rem + 1vw);
  --headerFour: calc(3.5rem + 1vw);
  --text: calc(1.2rem + 1vw);
  --bigText: calc(4rem + 1vw);
  --headerFour: calc(2rem + 1vw);

  --color-primary: #1db39e;
  --color-secondary: #f88639;
  --color-secondary-dark: #db7633;
  --color-text: #c6e3e1;
  --color-background-opacity-green: rgba(29, 179, 159, 0.774);
  --color-background-opacity-orange: #f88539e0;
  scroll-behavior: smooth;
}
body {
  animation: opening 1s ease-in-out;
  font-family: "IBM Plex Sans", sans-serif;
  text-shadow: 1px 1px black;
}
h1,
h2,
h3 {
  font-weight: 300;
  font-style: italic;
}
h2 {
  font-size: var(--headerTwo);
}
h3 {
  display: inline-block;
  font-size: var(--headerThree);
  border-bottom: 3px solid var(--color-text);
}
a {
  color: var(--color-text);
  text-decoration: none;
}
/*******************************************
    UTILITY STYLES
*******************************************/

.flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex-row {
  display: flex;
}
.overlay-green {
  background: var(--color-background-opacity-green);
}
.bg-green {
  background: var(--color-primary);
}
.btn {
  padding: 1rem 2rem;
  background: var(--color-secondary);
  border-radius: 1rem;
  font-size: var(--text);
  transition: all 0.5s;
}
.btn:hover {
  background: var(--color-secondary-dark);
}
.btn:active {
  transform: scale(1.1);
}
/*******************************************
    SHOWCASE STYLES
*******************************************/

#showcase {
  min-height: 100vh;
  background: url("./../img/showcase-bg.jpg") center / cover no-repeat;
}
.showcase-content {
  min-height: 100vh;
  width: 100%;
}
.showcase-title h1 {
  font-size: var(--headerOne);
  text-align: center;
}
.showcase-text {
  animation: up 1s ease-in-out;
  font-weight: 300;
}
.showcase-body .showcase-statement {
  font-size: var(--headerThree);
  padding: 0 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
/*******************************************
    ABOUT STYLES
*******************************************/

.about-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: url("../img/about-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-description {
  padding: 1rem 2.5rem;
  background: var(--color-background-opacity-orange) !important;
  z-index: 100;
}
.about-description p {
  font-size: var(--text);
}

/*******************************************
    TRIPS STYLES
*******************************************/
.trip {
  width: 100%;
}

.trip-gallery,
.trip-info {
  flex-basis: 50%;
}
.trip-info {
  padding: 1.5rem;
  text-align: center;
  font-size: var(--text);
}
.trip-description {
  margin: 1rem 0;
}
.trip-description p {
  padding: 1rem;
}
.trip-details,
.trip-details > div {
  margin: 1rem 0;
}
.gallery-MA {
  background: url("./../img/mountain-adventure/moraine-lake-canada-2662086.jpg")
    center / cover no-repeat;
}
.gallery-WP {
  background: url("./../img/water-paradise/scenic-view-of-waterfalls-1598073.jpg")
    center / cover no-repeat;
}
.gallery-SE {
  background: url("./../img/southern-escape/man-standing-on-arch-at-canyon-2440007.jpg")
    center / cover no-repeat;
}
.view-gallery {
  font-size: var(--text);
}
.view-gallery:hover {
  cursor: pointer;
}

/*******************************************
    ANIMATIONS STYLES
*******************************************/

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes up {
  from {
    transform: translateY(25%);
  }
  to {
    transform: translateY(0%);
  }
}
